.page {
  font-family: verdana;
  font-size: 12px;
}

.ownerbox {
  position: fixed;
  top: 500px;
  right: 0;
  z-index: 0;
}

.property-bar {
  font-size: 10px;
  color: #aaaaaa;
  line-height: 1.2em;
}
.property-bar > div {
  display: inline-block;
  display: inline-block;
}
.property-bar > div .field-items > div {
  display: inline-block;
}
.property-bar > div > div .field-item:before {
  content: " - ";
}

.span8 .property-bar .field-name-field-event-time {
  display: inline-block;
  content: "";
}
.span8 .property-bar .event-location-name:before,
.span8 .property-bar .article-author:before {
  content: " - ";
}

.logo {
  border-bottom: 10px solid #cccccc;
  padding-bottom: 10px;
}
.logo img {
  vertical-align: text-bottom;
  height: auto;
}
.logo span {
  font-size: 40px;
  font-family: Georgia;
}
.logo a:hover {
  text-decoration: none;
}

/* Header image fix */
.block-siteprocessor-config-visual a img {
  float: left;
}

/*View content li override */
.view-content > .item-list > ul > li {
  margin: 0;
}

/* Content padding */
.panel-100-66-33 .main .inner {
  padding-left: 15px;
}

.panel-33-66 .main .inner {
  padding-right: 15px;
}

.panel-100 .main .inner {
  padding: 15px 0;
}

/* Main menu */
.pane-page-primary-links,
.pane-system-main-menu {
  border-bottom: 4px solid #ececec;
}
.pane-page-primary-links .menu,
.pane-page-primary-links .primary-links,
.pane-system-main-menu .menu,
.pane-system-main-menu .primary-links {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 0;
}
.pane-page-primary-links .menu li,
.pane-page-primary-links .primary-links li,
.pane-system-main-menu .menu li,
.pane-system-main-menu .primary-links li {
  display: inline-block;
  height: 30px;
  position: relative;
  padding: 0 0 10px 0;
  border-right-style: solid;
  border-right-width: 1px;
}
.pane-page-primary-links .menu li:hover > ul,
.pane-page-primary-links .primary-links li:hover > ul,
.pane-system-main-menu .menu li:hover > ul,
.pane-system-main-menu .primary-links li:hover > ul {
  display: block;
}
.pane-page-primary-links .menu li ul,
.pane-page-primary-links .primary-links li ul,
.pane-system-main-menu .menu li ul,
.pane-system-main-menu .primary-links li ul {
  display: none;
  position: absolute;
  z-index: 99999;
  top: 40px;
  left: -1px;
}
.pane-page-primary-links .menu li ul li.first,
.pane-page-primary-links .primary-links li ul li.first,
.pane-system-main-menu .menu li ul li.first,
.pane-system-main-menu .primary-links li ul li.first {
  margin-left: 0;
  float: none;
  border-right: none;
  display: block;
  padding-right: 50px;
}
.pane-page-primary-links .menu li a,
.pane-page-primary-links .primary-links li a,
.pane-system-main-menu .menu li a,
.pane-system-main-menu .primary-links li a {
  font-family: arial;
  font-size: 14px;
  display: inline-block;
  height: 30px;
  position: relative;
  padding: 0 0 10px 0;
  border-right-style: solid;
  border-right-width: 1px;
}
.pane-page-primary-links .menu li.first,
.pane-page-primary-links .primary-links li.first,
.pane-system-main-menu .menu li.first,
.pane-system-main-menu .primary-links li.first {
  margin-left: 20px;
}
.pane-page-primary-links .menu li a,
.pane-page-primary-links .primary-links li a,
.pane-system-main-menu .menu li a,
.pane-system-main-menu .primary-links li a {
  font-family: arial;
  font-size: 14px;
  display: inline-block;
  padding: 12px 10px;
  text-decoration: none;
}
.pane-page-primary-links .menu li a:before,
.pane-page-primary-links .primary-links li a:before,
.pane-system-main-menu .menu li a:before,
.pane-system-main-menu .primary-links li a:before {
  content: "";
  height: 30px;
  position: absolute;
}
.pane-page-primary-links .menu li a .active:after, .pane-page-primary-links .menu li a:hover:after,
.pane-page-primary-links .primary-links li a .active:after,
.pane-page-primary-links .primary-links li a:hover:after,
.pane-system-main-menu .menu li a .active:after,
.pane-system-main-menu .menu li a:hover:after,
.pane-system-main-menu .primary-links li a .active:after,
.pane-system-main-menu .primary-links li a:hover:after {
  border-bottom-style: solid;
  border-bottom-width: 4px;
  content: "";
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* double column width */
.region.span8 h1,
.region.span8 .pane-search-result h2 {
  font-family: Georgia;
  font-size: 36px;
  font-weight: normal;
  line-height: 1em;
  margin-bottom: 6px;
}
.region.span8 .pane-search-result ol {
  padding: 0;
}
.region.span8 .pane-search-result li:hover {
  background-color: #ededed;
}
.region.span8 .view-latest-articles h2,
.region.span8 .view-upcoming-events h2,
.region.span8 .view-search-for-events h2 {
  font-size: 22px;
  margin: 16px 0 10px 0;
}
.region.span8 .view-latest-articles h4,
.region.span8 .view-upcoming-events h4,
.region.span8 .view-search-for-events h4 {
  font-size: 18px;
  margin: 18px 0 2px 0;
}
.region.span8 .view-latest-articles .view-content li,
.region.span8 .view-upcoming-events .view-content li,
.region.span8 .view-search-for-events .view-content li {
  border-bottom: 2px solid #efefef;
  display: block;
  overflow: hidden;
  padding-bottom: 10px;
}
.region.span8 .view-latest-articles .view-content li .field-type-image,
.region.span8 .view-upcoming-events .view-content li .field-type-image,
.region.span8 .view-search-for-events .view-content li .field-type-image {
  float: left;
  width: 30%;
}
.region.span8 .view-latest-articles .view-content li .field-type-image img,
.region.span8 .view-upcoming-events .view-content li .field-type-image img,
.region.span8 .view-search-for-events .view-content li .field-type-image img {
  border: 8px solid #eeeeee;
}
.region.span8 .view-latest-articles .view-content li .field-type-text-with-summary p,
.region.span8 .view-upcoming-events .view-content li .field-type-text-with-summary p,
.region.span8 .view-search-for-events .view-content li .field-type-text-with-summary p {
  margin: 0;
}

/* single column views */
.region.span4 {
  padding-top: 6px;
}
.region.span4 .panel-pane {
  margin-bottom: 26px;
}
.region.span4 .panel-pane h2 {
  font-size: 16px;
  padding: 4px 0 4px 16px;
  margin: 0;
}
.region.span4 .panel-pane.pane-search-form input[type="text"] {
  width: 75%;
  font-size: 12px;
}
.region.span4 .panel-pane.pane-search-form .pane-content {
  padding: 10px;
}
.region.span4 .panel-pane .pane-content {
  border-top: 1px solid #e0e0e0;
  border-bottom: 10px solid whitesmoke;
}
.region.span4 .panel-pane .pane-content ul {
  border-top: 1px solid white;
  margin: 0;
  padding: 0;
}
.region.span4 .panel-pane .pane-content ul > li {
  padding: 6px 10px;
  overflow: hidden;
  background-color: whitesmoke;
  border-bottom: 1px solid #e0e0e0;
  margin: 0 0 1px 0;
}
.region.span4 .panel-pane .pane-content ul > li > div > div {
  line-height: 1em;
}
.region.span4 .panel-pane .pane-content ul > li h2 {
  padding: 0;
  border: 0;
}
.region.span4 .panel-pane .pane-content ul > li h4 {
  margin: 0;
  font-weight: normal;
}
.region.span4 .panel-pane .pane-content .pager {
  margin: 0;
  background: whitesmoke;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 1px;
}
.region.span4 .panel-pane .pane-content .pager li {
  background: none;
  border: none;
}
.region.span4 .pane-system-main-menu h2 {
  border-bottom-color: #cddee6;
}
.region.span4 .pane-system-main-menu .pane-content {
  border-top-color: #adc9d5;
  border-bottom-color: #cddee6;
}
.region.span4 .pane-system-main-menu .pane-content ul.menu > li {
  background-color: #cddee6;
  border-bottom-color: #adc9d5;
  padding: 0;
}
.region.span4 .pane-system-main-menu .pane-content ul.menu > li:hover {
  background-color: #adc9d5;
}
.region.span4 .pane-system-main-menu .pane-content ul.menu > li a {
  display: block;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 14px;
}
.region.span4 .pane-system-main-menu .pane-content ul.menu > li a:hover {
  text-decoration: none;
}
.region.span4 .pane-right-column > .pane-content {
  border: none;
  margin: 0;
  padding: 0;
}

/*
 * Closure
 */
.closure .region-footer {
  border-top: 1px solid #dedede;
  border-bottom-style: solid;
  border-bottom-width: 10px;
  font-size: 10px;
  color: #bbbbbb;
  padding: 2px 15px;
  overflow: hidden;
}
.closure .region-footer .block-siteprocessor-footer {
  float: left;
}
.closure .region-footer .block-siteprocessor-footer p {
  margin: 0;
}
.closure .region-footer .block-siteprocessor-footer p br {
  display: none;
}
.closure #block-menu-menu-footer-menu {
  float: right;
}
.closure #block-menu-menu-footer-menu ul {
  margin: 0;
}
.closure #block-menu-menu-footer-menu ul li {
  padding: 0;
  list-style: none none;
  float: left;
}

/*
 * Responsiveness
 */
.toggleMenu {
  display: none;
  cursor: pointer;
}
.toggleMenu.active {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

@media (min-width: 768px) and (max-width: 979px) {
  .ownerbox {
    position: static;
  }

  .span8 .inner {
    padding-right: 15px;
  }

  .span8,
  .span4 {
    width: 724px;
  }

  .span4.right .inner > .pane-separator {
    height: 10px;
  }
  .span4.right .inner > .panel-pane {
    width: 50%;
    float: left;
    overflow: hidde;
  }
  .span4.right .inner > .panel-pane:nth-child(odd) {
    clear: left;
  }
}
@media (max-width: 769px) {
  .ownerbox {
    position: static;
  }

  .pane-page-primary-links {
    position: relative;
  }
  .pane-page-primary-links .pane-content {
    margin-left: 94px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    height: 100%;
  }
  .pane-page-primary-links .pane-content .inner {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    overflow: hidden;
    min-height: 25px;
  }
  .pane-page-primary-links .toggleMenu {
    position: absolute;
    display: block;
    height: 25px;
    top: 1px;
    left: 30px;
    border: none;
    background: transparent;
    color: white;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
  }
  .pane-page-primary-links ul.links {
    display: none;
  }
  .pane-page-primary-links ul.links > li {
    display: block;
    overflow: hidden;
  }
  .pane-page-primary-links ul.links > li.first {
    margin-left: 0;
  }
  .pane-page-primary-links ul.links > li > a {
    font-weight: bold;
    font-size: 20px;
    display: block;
  }
  .pane-page-primary-links ul.links > li > a.active:after, .pane-page-primary-links ul.links > li > a:hover:after {
    content: none;
  }
}
@media (max-width: 400px) {
  .pane-page-primary-links {
    text-align: center;
  }
  .pane-page-primary-links ul.links > li {
    margin-left: 0;
  }
  .pane-page-primary-links .toggleMenu {
    position: static;
    width: 100%;
    display: inline-block;
  }
  .pane-page-primary-links .pane-content {
    border: none;
    margin: 0;
    text-align: left;
  }
  .pane-page-primary-links .pane-content .inner {
    border: none;
    min-height: 0;
  }
}
