.page {
  font-family: verdana;
  font-size: 12px;
}

/* Header image fix */
.block-siteprocessor-config-visual a img {
  float: left;
}

/*View content li override */
.view-content > .item-list > ul > li {
  margin: 0;
}

/* Content padding */
.panel-100-66-33 .main .inner {
  padding-left: 15px;
}

.panel-33-66 .main .inner {
  padding-right: 15px;
}

.panel-100 .main .inner {
  padding: 15px 0;
}

/* Main menu */
.primary-links {
  border-bottom: 4px solid #ececec;
  display: block;
  margin: 0;
  padding: 0;
  font-size: 0;
}
.primary-links li {
  display: inline-block;
  height: 30px;
  position: relative;
  padding: 0 0 10px 0;
  border-right-style: solid;
  border-right-width: 1px;
}
.primary-links li.first {
  margin-left: 20px;
}
.primary-links li a {
  font-family: arial;
  font-size: 14px;
  display: inline-block;
  padding: 14px 10px;
  text-decoration: none;
}
.primary-links li a:before {
  content: "";
  height: 30px;
  position: absolute;
}
.primary-links li a .active:after, .primary-links li a:hover:after {
  border-bottom-style: solid;
  border-bottom-width: 4px;
  content: "";
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* double column width */
.region.span8 h1 {
  font-size: 36px;
  font-family: Georgia;
  font-weight: normal;
  margin-bottom: 0;
}
.region.span8 .view-latest-articles h2,
.region.span8 .view-upcoming-events h2 {
  font-size: 22px;
  margin: 16px 0 10px 0;
}
.region.span8 .view-latest-articles li,
.region.span8 .view-upcoming-events li {
  display: block;
  border-bottom: 2px solid #efefef;
  padding-bottom: 10px;
}
.region.span8 .view-latest-articles li .field-type-image,
.region.span8 .view-upcoming-events li .field-type-image {
  float: left;
  width: 30%;
}
.region.span8 .view-latest-articles li .field-type-image img,
.region.span8 .view-upcoming-events li .field-type-image img {
  border: 8px solid #eeeeee;
}
.region.span8 .view-latest-articles li .field-type-text-with-summary,
.region.span8 .view-upcoming-events li .field-type-text-with-summary {
  width: 70%;
}
.region.span8 .view-latest-articles li .field-type-text-with-summary p,
.region.span8 .view-upcoming-events li .field-type-text-with-summary p {
  margin: 0;
}

/* single column views */
.region.span4 .panel-pane {
  margin-bottom: 26px;
}
.region.span4 .panel-pane h2 {
  font-size: 16px;
  padding: 4px 0 4px 16px;
  margin: 0;
  border-bottom: 10px solid whitesmoke;
}
.region.span4 .panel-pane .pane-content {
  border-top: 1px solid #e0e0e0;
  border-bottom: 10px solid whitesmoke;
}
.region.span4 .panel-pane .pane-content ul {
  border-top: 1px solid white;
  margin: 0;
  padding: 0;
}
.region.span4 .panel-pane .pane-content ul > li {
  padding: 10px;
  overflow: hidden;
  background-color: whitesmoke;
  border-bottom: 1px solid #e0e0e0;
  margin: 0 0 1px 0;
}
.region.span4 .panel-pane .pane-content ul > li h2 {
  padding: 0;
  border: 0;
}
.region.span4 .panel-pane .pane-content .pager {
  margin: 0;
  background: whitesmoke;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 1px;
}
.region.span4 .panel-pane .pane-content .pager li {
  background: none;
  border: none;
}
.region.span4 .pane-system-main-menu h2 {
  border-bottom-color: #cddee6;
}
.region.span4 .pane-system-main-menu .pane-content {
  border-top-color: #adc9d5;
  border-bottom-color: #cddee6;
}
.region.span4 .pane-system-main-menu .pane-content ul.menu > li {
  background-color: #cddee6;
  border-bottom-color: #adc9d5;
  padding: 0;
}
.region.span4 .pane-system-main-menu .pane-content ul.menu > li:hover {
  background-color: #adc9d5;
}
.region.span4 .pane-system-main-menu .pane-content ul.menu > li a {
  display: block;
  padding: 10px;
  font-weight: bold;
}
.region.span4 .pane-right-column > .pane-content {
  border: none;
  margin: 0;
  padding: 0;
}

/*
 * Closure
 */
.closure .region-footer {
  border-top: 1px solid #dedede;
  border-bottom-style: solid;
  border-bottom-width: 10px;
  font-size: 10px;
  color: #bbbbbb;
  padding: 2px 15px;
  overflow: hidden;
}
.closure .region-footer .block-siteprocessor-footer {
  float: left;
}
.closure .region-footer .block-siteprocessor-footer p {
  margin: 0;
}
.closure .region-footer .block-siteprocessor-footer p br {
  display: none;
}
.closure #block-menu-menu-footer-menu {
  float: right;
}
.closure #block-menu-menu-footer-menu ul {
  margin: 0;
}
.closure #block-menu-menu-footer-menu ul li {
  padding: 0;
  list-style: none none;
  float: left;
}
