// Main menu
ul.menu
  padding: 0
  margin: 0
  li
    float: left
    list-style: none
    border-right: 1px solid rgb(50, 50, 50)
    padding: 10px


// Various
.field-type-image
  width: 200px
  height: auto
  img
    width: auto