.page-node
  .pane-node-view
    .property-bar
      color: #ddd
      font-size: 10px
    .field-type-image
      img
        border: 4px solid #eee
        float: left
        margin-right: 10px
      

    .comments-box
      margin-top: 20px
      border-top: 1px solid #ccc
