#page-wrapper {
  /*width:960px;*/
}

.panel-col-maincontent .inside {
  padding:10px;  
}

.panel-100-66-33  .panel-row-split .panel-col-right {
  width:300px;
  margin:10px;
  margin-top:20px;  
}

.panel-100-66-33 .toparea-wrapper .pane-block {
  float:left;
}

.toparea-wrapper .panel-col-1-1 .pane-page-primary-links {
  float:right;
}
.toparea-wrapper .panel-col-1-1 .pane-page-primary-links ul li{
  float:left;
}


 .region-content .panel-display .content-wrapper .panel-col-2-3 {
  width: 630px;
  margin-right:10px;
}


.panel-33-66  .panel-row-split .panel-col-left {
  width:300px;
  margin:10px;
  margin-top:20px;
}


/*
#mini-panel-top_row .panel-pane {
  float:left;
}
*/

#mini-panel-top_row .pane-block {
  float:left;
}





#page-wrapper {
  margin-top:10px;
  width:980px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:10px;

}

#main-wrapper{
  margin:10px;
}


#footer #block-siteprocessor-contact-footer-text {
  float:left;
}

#footer #block-siteprocessor-facebook-like-box {
  float:right;
}

#footer {
  margin:10px;
  min-height: 120px;
}

#ownerbox {
  position:fixed;
  top:500px;
  right:0;
  z-index:-100;
}
