@import url(http://fonts.googleapis.com/css?family=Bitter);
@import url(http://fonts.googleapis.com/css?family=Convergence);
@import url(http://fonts.googleapis.com/css?family=Signika:400,700,600,300);
@import url(http://fonts.googleapis.com/css?family=Rosario:400,400italic);


body {
  /*font-family: 'Convergence', sans-serif;*/
  font-family: 'Rosario', sans-serif;
  /*font-weight:300;*/
  font-size: 14px;
  line-height: 130%;  
  /*font-family: 'Bitter', serif;
*/
}
a {
  text-decoration: none;
}
.dummy {
  background-color:#FFF;
  border:1px solid black;
  text-align: center;
  text-transform: uppercase;
  color:#ff0000;
  font-size:20px;
  height:300px;
}

#page-wrapper {
  border-width:1px;
  border-style: solid;
  border-radius:5px;
  box-shadow: 0 0 10px black;  
}

#block-siteprocessor-topblock-topblock img {
  border-radius:5px;
}

.panel-100-66-33 .toparea-wrapper .pane-page-primary-links ul li a {
  background-image:url(../img/menu-gradient.png);
  background-repeat:repeat-x;
  
}

.panel-100-66-33 .toparea-wrapper .pane-page-primary-links ul li a:hover,.panel-100-66-33 .toparea-wrapper .pane-page-primary-links ul li a.active-trail  {
  background-image:url(../img/menu-gradient-hover.png);  
}


.panel-100-66-33 .toparea-wrapper .pane-page-primary-links ul li{
  margin:5px;
}

.panel-100-66-33 .toparea-wrapper .pane-page-primary-links ul li a {
  display:block;
  border:1px solid black;
  border-radius:3px;
  padding: 5px 10px;
  text-transform: uppercase;
  text-decoration:none;
}

.panel-100-66-33 .content-wrapper  {
  border-radius:5px;
}

.panel-100-66-33 .panel-col-right h2 {
  font-family: 'Bitter', serif;
  font-size:22px;
  margin-top:5px;
  margin-bottom:5px;
}

.panel-100-66-33 .pane-siteprocessor-base-frontpage a.frontpage-link {
  text-indent: -900em;
  background-image:url(../img/frontpage-icon.png);
  background-repeat: no-repeat;
  display: block;
  height: 16px;
  opacity: 0.8;
  width: 16px;  
}










.panel-33-66 .panel-col-left .menu-name-main-menu > ul > li > a {
  background-image:url(../img/menu-gradient.png);
  background-repeat:repeat-x;
  
}

.panel-33-66 .panel-col-left .menu-name-main-menu > ul > li > a:hover,.panel-33-66 .toparea-wrapper .menu-name-main-menu > ul > li > a.active-trail  {
  background-image:url(../img/menu-gradient-hover.png);  
}


.panel-33-66 .panel-col-left .menu-name-main-menu > ul > li {
  margin:5px;
  list-style:none;
}

.panel-33-66 .panel-col-left .menu-name-main-menu > ul > li > a {
  display:block;
  border:1px solid black;
  border-radius:3px;
  padding: 5px 10px;
  text-transform: uppercase;
  text-decoration:none;
}

.panel-33-66 .content-wrapper  {
  border-radius:5px;
}

.panel-33-66 .panel-col-right h2 {
  font-family: 'Bitter', serif;
  font-size:22px;
  margin-top:5px;
  margin-bottom:5px;
}


.panel-33-66 .pane-siteprocessor-base-frontpage a.frontpage-link {
  background-image: url("../img/frontpage-icon.png");
  background-position: 3px 3px;
  background-repeat: no-repeat;
  border: 1px solid black;
  border-radius: 3px 3px 3px 3px;
  display: block;
  margin: 3px 5px;
  opacity: 0.8;
  padding-bottom: 5px;
  padding-left: 23px;
  padding-top: 5px;
  text-decoration: none;
  text-transform: uppercase;
}






.menu-name-main-menu > ul.menu ul li.expanded,.menu-name-main-menu > ul.menu ul li.collapsed,.menu-name-main-menu > ul.menu ul li.leaf {
  list-style:none;
  padding:3px 0 3px 10px;
} 



#block-siteprocessor-contact-footer-text {
  font-size:14px;
}




.pane-siteprocessor-base-frontpage a.frontpage-link:hover {
  opacity: 1;
}

#page-wrapper {
  background-image:url(../img/footer-gradient.png);
  background-repeat:repeat-x;
  background-position:bottom left;
}




h1 {
  font-family: 'Bitter',serif;
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 20px;  
  line-height: 110%;
}



h2 {
  font-family: 'Bitter',serif;
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 10px;  
}

.summary {
    font-family: 'Bitter',serif;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.submitted {
  margin-top:5px;
  margin-bottom:10px;
  font-size:12px;
}











.carousel-item-wrapper {
  position:relative;
}

.carousel-item-content {
  background-color: black;
  bottom: 0;
  color: white;
  left: 0;
  opacity: 0.8;
  padding: 15px;
  position: absolute;
  border-radius:0 5px 0 5px;
}

.carousel-item-wrapper .field-name-field-image img {
  border-radius:5px;
}

.carousel-item-wrapper h4 {
  font-family: 'Bitter',serif;
  font-size: 18px;
  margin-top:5px;
  margin-bottom:5px;
}

.carousel-item-wrapper h4 a{
  display:block;
}

.carousel-item-wrapper h4 a{
  color: #DDDDAA;
}

.carousel-item-wrapper h4 a:hover {
  color:#990000;
}


.carousel-item-content.no-image {
  margin-left:0px;
} 


.carousel-item-wrapper .field-name-field-image{
}

li.views-row.carousel-item{
  width:600px;

}

li.views-row.carousel-item.views-row-odd{
}


.carousel-item-wrapper .property-bar{
  color: #CCCCCC;
}




.imagetile-item-wrapper h4 {
  font-family: 'Bitter',serif;
  font-size: 18px;
  margin-top:5px;
  margin-bottom:5px;
}

.imagetile-item-wrapper h4 a{
  display:block;
}

.imagetile-item-wrapper h4 a{
  color:#b63300;
}

.imagetile-item-wrapper h4 a:hover {
  color:#990000;
}

.imagetile-item-content {
  padding-left:5px;
} 

.imagetile-item-content.no-image {
  margin-left:0px;
} 


.imagetile-item-wrapper .field-name-field-image{
  float:left;
}

li.views-row.imagetile-item{
  width:300px;
  float:left;
  margin-top:10px;
  margin-bottom:10px;
}

li.views-row.imagetile-item.views-row-odd{
  clear:left;
  margin-right:10px;
}











.large-item-wrapper h4 {
  font-family: 'Bitter',serif;
  font-size: 18px;
  margin-top:5px;
  margin-bottom:5px;
}

.large-item-wrapper h4 a{
  display:block;
}

.large-item-wrapper h4 a{
  color:#b63300;
}

.large-item-wrapper h4 a:hover {
  color:#990000;
}

.large-item-content {
  margin-left:130px;
  padding-left:5px;
} 

.large-item-content.no-image {
  margin-left:0px;
} 


.large-item-wrapper .field-name-field-image{
  float:left;
}

.field-name-field-image img {
  display:block;
}

.property-bar{
  color: #444444;
  font-size: 12px;  
}

li.views-row.large-item{
  margin-top:10px;
  padding-top:10px;
  margin-bottom:10px;
  border-top:1px solid silver; /*fixme*/
}

.property-bar .field-name-field-event-time {
  display: inline-block;
}
.property-bar .event-location-name{
  margin-left:2px;
  display: inline-block;
}
.property-bar .event-location-name:before{
  content:' - ';
}

.property-bar .field-name-field-event-category {
  margin-left:2px;
  display: inline-block;
}

.property-bar .field-name-field-event-category .field-item:before {
  content:' - ';
}


.node-event .event-properties{
  border-radius:5px;
  float: right;
  margin-left: 10px;
  margin-top: 10px;
  width: 256px; 
  background-color:#AAD5FF; /*fixme*/
}

.node-event .event-properties .event-property {
  margin:5px;
  padding:5px;
  border-radius:5px;
}

.node-event .event-properties .event-location {
  background-color:#CCEEFF;
}


.node-event .event-properties .event-datetime {
  background-color:#BBFFBB;
  font-size: 20px;  
  line-height:120%;
  
}
.node-event .event-properties .event-category {
  font-size: 20px;
  text-align: right;
}




/*.node-event .event-properties .event-datetime .date-display-start,.node-event .event-properties .event-datetime .date-display-single{
  display: block;
  font-size: 20px;  
  margin-bottom:5px;
}*/



.node-event .event-properties .event-extras {
  background-color:#FFF0CC;
}

.node-event .location-locations-wrapper span.fn , .node-event .field-name-field-location span.fn{
  display: block;
  font-size: 18px;
  margin-bottom: 10px;  
  font-family: 'Bitter',serif;  
}

.node-event .location-locations-wrapper .map-link  , .node-event .field-name-field-location .map-link{
  font-size: 12px;
  margin-top: 10px;
}





.view-filters {
  background-color:#EEE;
  border-radius:5px;
  padding:5px;
}


#edit-field-event-time-value-wrapper {
  float:left;
}

#edit-field-event-time-value-min-wrapper {
  float:left;
}

#edit-field-event-time-value-max-wrapper {
  float:left;
}

.view-id-search_for_events .views-exposed-widget.views-submit-button{
  float:left;
}


#bef-datepicker-wrapper input  {
  border:1px solid #ccc;
  width:80px;
  color:#666;
}


.node .content .field-name-field-image{
  margin-bottom:10px;
}


