.panel-display .content-wrapper .panel-sidebar{
  width:300px;
}

.panel-display .content-wrapper .panel-row-split .panel-col-right {
  margin-left:30px;
}

.panel-display .content-wrapper .panel-row-split .panel-col-left {
  margin-right:30px;
}

.toparea-wrapper .panel-col-1-1 .pane-page-primary-links {
  float:right;
}
.toparea-wrapper .panel-col-1-1 .pane-page-primary-links ul li{
  float:left;
}

.panel-display .content-wrapper {
  padding:20px;
}

 .panel-display .content-wrapper .panel-col-2-3 {
  width: 600px;
}

#mini-panel-top_row .pane-block {
  float:left;
}

#page-wrapper {
  margin-top:10px;
  width:990px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:10px;
  z-index: 1;
}

#main-wrapper{
  margin:10px;
}


#footer #block-siteprocessor-footer-footer-text {
  float:left;
  width:440px;
  margin-left:10px;
  padding-left:10px;  
}

#footer #block-siteprocessor-facebook-like-box {
  float:left;
  width:265px;
}

#footer #block-menu-menu-footer-menu{
  float: right;
  width: 200px;  
  margin-left:10px;
  padding-left:10px;
}


#footer {
  margin:10px;
  min-height: 120px;
  margin-bottom:85px;
}

#ownerbox {
  position:fixed;
  top:500px;
  right:0;
  z-index:0;
}

.toparea-wrapper {
  margin-bottom: 6px
}



#footer {
    border-radius: 5px 5px 5px 5px;
    min-height: 120px;
    padding: 20px 10px;
}
