body,
#page-wrapper {
  background-color: #FFF !important;
  background-image: none !important;
  border: none;
  box-shadow: none;
  width: auto;
}

.print-item-wrapper .print-item-content {
  display: block;
}

.large-item-wrapper,
.pane-calendar {
  display: none;
}

.toparea-wrapper, #footer, #ui-datepicker-div,
.view-filters, .pager, .pane-title, .print_hidden,
#toolbar {
  display: none;
}

#main-wrapper {
  margin: 0 !important;
}

.map-link {
  display: none;
}

.panel-col-maincontent {
  width: 100% !important;
}
.panel-sidebar {
  display: none;  
}

.views-field-field-event-time-1,
.print-item-content .field-name-field-event-time {
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
}

.print-item-content .field-name-body {
  margin-bottom: 1em;
}

.print-item-content p, a, span, div  {
.view-print-search-for-events p, a, span, div  {
  font-family: 'Gill Sans', Cobel, Tahoma;
  font-size: 16px;
  margin: 0;
}

.content-wrapper {
  padding: 0 !important;
}

.view-print-search-for-events ul { 
  margin-top: 25px;
}
