@import url(http://fonts.googleapis.com/css?family=Belgrano);
@import url(http://fonts.googleapis.com/css?family=Rosario:400,400italic);

body {
  font-family: sans-serif;
  font-size: 13px;
  line-height: 150%;  
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 10px;  
}

b,strong{
  font-weight:bold;
}

em,i{
  font-style:italic;
}

u{
  text-decoration:underline;
}

hr{
  background: none;
  border: none;
  border-top-width: 2px;
  border-top-style: dotted;
  height: 2px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.caption p { color: #aaa; }
.field-type-text-with-summary .caption p { margin-top: -20px; }

.dummy {
  background-color:#FFF;
  border:1px solid black;
  text-align: center;
  text-transform: uppercase;
  color:#ff0000;
  font-size:20px;
  height:300px;
}

#page-wrapper {
  border-width:1px;
  border-style: solid;
  border-radius:5px;
  box-shadow: 0 0 10px black;  
}

#block-siteprocessor-config-visual-topblock img {
  border-radius:5px;
}


.pane-page-primary-links ul li a,
.menu-name-main-menu.menu-level-1 > ul > li > a 
{
  background-image:url(../img/menu-gradient.png);
  background-repeat:repeat-x;
  
}

.pane-page-primary-links ul li a:hover,
.menu-name-main-menu.menu-level-1 > ul > li > a:hover,
.pane-page-primary-links ul li a.active-trail,
.menu-name-main-menu.menu-level-1 > ul > li > a.active-trail
{
  background-image:url(../img/menu-gradient-hover.png);  
}


.toparea-wrapper .pane-page-primary-links ul li{
  margin:5px;
}

.pane-page-primary-links ul li a,
.menu-name-main-menu.menu-level-1 > ul > li > a
 {
  display:block;
  border-width:1px;
  border-style:solid;
  border-radius:3px;
  padding: 5px 10px;
  text-transform: uppercase;
  text-decoration:none;	
  font-family: 'Rosario',sans-serif;
  font-size:14px;
}

.menu-name-main-menu  ul li.expanded,
.menu-name-main-menu  ul li.collapsed,
.menu-name-main-menu  ul li.leaf
{ list-style:none; 	
}

.menu-name-main-menu > ul.menu ul li.expanded,
.menu-name-main-menu > ul.menu ul li.collapsed,
.menu-name-main-menu > ul.menu ul li.leaf
{
  list-style:none;
  padding:3px 0 3px 15px;
} 

.menu-name-main-menu.menu-level-2 > ul > li,
.menu-name-main-menu.menu-level-1 > ul > li > ul > li
{
  border-top-width:1px;
  border-top-style: solid;
  padding-bottom:2px;
  padding-top:2px;
}

.menu-name-main-menu.menu-level-2 ul li a,
.menu-name-main-menu.menu-level-1 > ul > li ul li a
{
  display: block;
  border: 1px solid transparent;
  border-radius: 3px 3px 3px 3px;
  padding: 5px;  
  font-size:14px;
  font-family: 'Belgrano',serif;
  
}
/*
.menu-name-main-menu.menu-level-2 > ul > li:last-child{
  border:none;
}
*/
.content-wrapper  {
  border-radius:5px;
}

.panel-sidebar h2 {
  font-family: 'Belgrano', serif;
  font-size:22px;
  margin-top:10px;
  margin-bottom:10px;
}

.pane-siteprocessor-base-frontpage a.frontpage-link {
  background-image:url(../img/frontpage-icon.png);
  background-repeat: no-repeat;
  display: block;
  height: 16px;
  opacity: 0.8;
}

.panel-col-left .pane-siteprocessor-base-frontpage a.frontpage-link {
  background-image: url("../img/frontpage-icon.png");
  background-position: 3px 3px;
  background-repeat: no-repeat;
  border-radius: 3px 3px 3px 3px;
  border-style: solid;
  border-width: 1px;
  display: block;
  margin: 15px 5px 3px;
  opacity: 0.8;
  padding-bottom: 5px;
  padding-left: 26px;
  padding-top: 3px;
  text-decoration: none;
  text-transform: uppercase;
}

.toparea-wrapper .pane-siteprocessor-base-frontpage a.frontpage-link
{
  text-indent: -900em;
  width: 16px;  
  margin-left: 8px;
  margin-top: 13px;   
}


#page-wrapper {
  background-image:url(../img/footer-gradient.png);
  background-repeat:repeat-x;
  background-position:bottom left;
}

.panel-col-left .menu-name-main-menu > ul > li {
  margin:5px;
  list-style:none;
}

#block-siteprocessor-contact-footer-text {
  font-size:14px;
}

.pane-siteprocessor-base-frontpage a.frontpage-link:hover {
  opacity: 1;
}

h1 {
  font-family: 'Belgrano',serif;
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 10px;  
  line-height: 130%;
}

h2 {
  font-family: 'Belgrano',serif;
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 10px;  
}

h3 {
  font-family: 'Belgrano',serif;
  font-size: 16px;
  line-height: 20px;  
  margin-top:10px;
  margin-bottom:5px;
}

.summary {
    font-family: 'Belgrano',serif;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.submitted {
  margin-top:5px;
  margin-bottom:10px;
  font-size:12px;
}

.carousel-item-wrapper {
  position:relative;
}

.carousel-item-content {
  bottom: 0;
  left: 0;
  opacity: 0.8;
  padding: 15px;
  position: absolute;
  border-radius:0 5px 0 5px;
}

.carousel-item-wrapper .field-name-field-image img {
  border-radius:5px;
}

.carousel-item-wrapper h4 {
  font-family: 'Belgrano',serif;
  font-size: 18px;
  margin-top:5px;
  margin-bottom:5px;
}

.carousel-item-wrapper h4 a{
  display:block;
}

.carousel-item-content.no-image {
  margin-left:0px;
} 


.carousel-item-wrapper .field-name-field-image{
}

.panel-col-2-3 li.views-row.carousel-item{
  width:600px;

}

.panel-col-1-1 li.views-row.carousel-item{
  width:930px;

}

li.views-row.carousel-item.views-row-odd{
}

.imagetile-item-wrapper h4 {
  font-family: 'Belgrano',serif;
  font-size: 18px;
  margin-top:5px;
  margin-bottom:10px;
  line-height: 130%;
}

.imagetile-item-wrapper h4 a{
  display:block;
}


.imagetile-item-content {
  padding-left:5px;
  margin-top:5px
} 

.imagetile-item-content.no-image {
  margin-left:0px;
} 

li.views-row.imagetile-item{
  width:295px;
  float:left;
  margin-bottom:10px;
}

.panel-col-2-3 li.imagetile-item.views-row-odd{
  clear:left;
  margin-right:10px;
}

.property-bar .field-name-field-event-time, .property-bar .article-created {
  display: inline-block;
}
.property-bar .event-location-name{
  margin-left:2px;
  display: inline-block;
}
.property-bar .event-location-name:before{
  content:' - ';
}

.property-bar .field-name-field-event-category {
  margin-left:2px;
  display: inline-block;
}

.property-bar .field-name-field-event-category .field-item:before {
  content:' - ';
}

.property-bar .field-name-field-event-target {
  margin-left:2px;
  display: inline-block;
}

.property-bar .field-name-field-event-target .field-item:before {
  content:' - ';
}

.property-bar .article-author {
  margin-left:2px;
  display: inline-block;
}

.property-bar .article-author:before {
  content:' - ';
}

.node-event .event-properties{
  border-radius:5px;
  float: right;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-top: 10px;
  width: 256px; 
  line-height:120%;
  
}

.node-event .event-property .field-label{
  font-size:14px;
  font-family: Sans-serif;
}

.node-event .event-properties .event-property {
  margin:5px;
  padding:5px;
  border-radius:5px;
  border-width:1px;
  border-style:solid;
}


.node-event .event-properties .event-datetime {
  font-size: 20px;  
  line-height:120%;
  font-family: 'Rosario',sans-serif;
  
  
}
.node-event .event-properties .event-category {
  font-size: 20px;
  line-height:120%;
  font-family: 'Rosario',sans-serif;
}

.node-event .event-properties .event-target {
  font-size: 20px;
  line-height:120%;
  font-family: 'Rosario',sans-serif;

}

.node-event .location-locations-wrapper span.fn , 
.node-event .field-name-field-location span.fn
{
  display: block;
  font-size: 20px;
  line-height:120%;
  font-family: 'Rosario',sans-serif;
  margin-bottom: 10px;  
  line-height:120%;

  /*font-family: 'Belgrano',serif;  */
}

.node-event .location-locations-wrapper .map-link,
.node-event .field-name-field-location .map-link
{
  font-size: 12px;
  margin-top: 10px;
}





.view-filters {
  border-width: 1px;
  border-style: solid;
  border-radius:5px;
  margin-bottom:5px;
  padding:5px;
}


#edit-field-event-time-value-wrapper {
  float:left;
}

#edit-field-event-time-value-min-wrapper {
  float:left;
}

#edit-field-event-time-value-max-wrapper {
  float:left;
}

.view-id-search_for_events .views-exposed-widget.views-submit-button{
  float:left;
}


#bef-datepicker-wrapper input  {
  border:1px solid #ccc;/*not customizable*/
  width:80px;
  color:#666;
}


.node .content .field-name-field-image{
  margin-bottom:20px;
}


.bef-checkboxes label {
  font-weight: normal;
}

.content-wrapper .panel-pane {
    border-bottom-width: 2px;
    border-bottom-style: dotted;
    margin-bottom: 25px;
    padding-bottom: 20px;
}

.content-wrapper .panel-pane:last-child {
  border-bottom:none;
}

.content-wrapper .panel-pane.pane-panels-mini {
  border-bottom:none;
}


li.list-item {
  border-top-width: 1px;
  border-top-style:solid;
  margin-top: 2px;
  padding-top: 2px;
  position: relative;
}
/*
li.list-item {
  border-bottom-width: 1px;
  border-bottom-style:solid;
  margin-bottom: 2px;
  padding-bottom: 2px;
  position: relative;
}


li.list-item:last-child{
  border-bottom:none;
}
*/

li.list-item h4 a{
  padding-top:21px;
  display:block;
  padding-left:7px;
  padding-bottom:8px;
  border:1px solid transparent;
  font-size:16px;
  margin-bottom: 2px;
  margin-top: 2px;  
  border-radius:3px;
  font-family: Belgrano,serif;
  font-size: 14px;
}

li.list-item .property-bar{
  left: 8px;
  position: absolute;
  top: 7px;
}

/* Event listing */

.panel-sidebar .view-upcoming-events li.list-item .property-bar{
  left: 0;
  position:relative;
  top: 0;
}
.panel-sidebar .view-upcoming-events li.list-item h4 a {
  margin: 0;
  padding: 0;
}

.imagetile-item-wrapper {
  border:1px solid transparent;
  padding:4px;
}

.imagetile-item-wrapper img {
  border-radius:3px;
}

.imagetile-item-wrapper:hover {
  border-radius:3px;
  border-width:1px;
  border-style:solid;
}

.imagetile-item-wrapper:hover  img {
  opacity:0.8;
}

.imagetile-item-wrapper h4 a {
    height: 46px;
    overflow: hidden;
}

.large-item-wrapper{
  border:1px solid transparent;
  padding:10px;  
  margin-top:2px;
  border-radius:3px;
  margin-bottom:2px;
}

.large-item-wrapper img {
  border-radius:2px;
}
/*
.large-item-wrapper:hover {
  background-color:#f0f0f0;
  border-color:#ddd;  
}
*/
.large-item-wrapper:hover  img {
  opacity:0.8;
}

.large-item-wrapper p,
.imagetile-wrapper p,
.carousel-item-wrapper p
{
  margin:0;
}

.large-item-wrapper h4 {
  font-family: 'Belgrano',serif;
  font-size: 18px;
  margin-top:5px;
  margin-bottom:5px;
}

.large-item-wrapper h4 a{
  display:block;
}


.large-item-content {
  padding-left:5px;
  margin-bottom:5px;
  min-height: 110px;
} 

.large-item-content.no-image {
  margin-left:0px;
} 


.large-item-wrapper .field-name-field-image{
  float:right;
  margin-left:15px;
}

.field-name-field-image img {
  display:block;
}

.property-bar{
  font-size: 11px;  
}

li.large-item{
  border-top-width:1px;
  border-top-style: solid;
}
/*
li.large-item:last-child{
  border:none;
}
*/

.carousel-item-wrapper:hover{
  opacity:0.8;
}

.view-empty{
  font-size: 20px;
  margin: 10px;
  font-family:'Rosario',sans-serif;
}


.comments-box {
  border-top-style: dotted;
  border-top-width: 2px;
  margin-top: 35px;
  padding-top: 15px;  
}

.fb-comments{
  margin-top:10px;
}

.node .property-bar {
  margin-bottom: 10px;
  margin-top: -15px;  
}

.fb-like {
  margin-bottom:10px;
}




#block-siteprocessor-footer-footer-text{
  border-left-style: solid;
  border-left-width:1px;
}

#block-menu-menu-footer-menu{
  border-left-style: solid;
  border-left-width:1px;
}

.region-footer ul.menu li.leaf {
  list-style: none;
}

.region-footer ul.menu li.leaf {
  font-size: 14px;
  margin-bottom: 10px;
  font-family:'Belgrano',serif;
}
.region-footer ul.menu li.leaf  a{
  display:block;
}

.field-name-body img.media-image{
  margin-top:15px;
  margin-bottom: 15px;
}

/* Oembed style */

.oembed, .oembed-content iframe {
  width: 100%;
}

/* Don't show in listings */
.view-content .views-field-body .oembed,
.view-content .large-item-wrapper .oembed {
  display: none;
}
